etc/config/xsd/activate_wtth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Tue Nov 21 2017 10:20:53 GMT-0600 (Hora estándar central (México)) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="msg">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="header">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="attribute" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="name" type="xs:string"></xs:element>
                                                                      <xs:element name="value" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="body" minOccurs="1">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="voice" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="telephone">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="attribute" maxOccurs="unbounded">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="name" type="xs:string"></xs:element>
                                                                                                                <xs:element name="new_value"></xs:element>
                                                                                                                <xs:element name="old_value"></xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>